* {
    box-sizing: border-cbox;
    margin: 0px;
    padding: 0px;
   
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: rgb(178, 20, 20);
}

.results {
    display: none;
}
